:root {
    --color-white: hsl(0, 0%, 100%);
    --color-black: rgba(0, 0, 0, 0.05);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
} 

html, body {
    margin: 0 auto;
    padding: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: var(--color-slate-300);
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.card {
    background-color: var(--color-white);
    border-radius: 20px;
    margin: 0 auto;
    padding: 0;
    height: 499px;
    width: 320px;
    filter: drop-shadow(0px 25px 25px var(--color-black));
}

.card-contents {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    height: 100%;
}

.qr-code {
    height: 288px;
    width: 288px;
    margin: 16px 16px 0 16px;
    border-radius: 10px;
}

.card-caption {
    margin: 0 16px 0 16px;
    text-align: center;
}

.card-caption-header {
    color: var(--color-slate-900);
    margin: 8 16px 8px 16px;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
}

.card-caption-body {
    color: var(--color-slate-500);
    margin: 8px 16px 0 16px;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}
